/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Variables */
:root {
    /* colors */
    --clr-primary : hsl(215, 51%, 70%);
    --clr-secondary: hsl(178, 100%, 50%);
    --clr-main-bg: hsl(217, 54%, 11%);
    --clr-card-bg: hsl(216, 50%, 16%);
    --clr-line: hsl(215, 32%, 27%);
    --clr-white: hsl(0, 0%, 100%);

    /* font */
    --font-outfit: 'Outfit', sans-serif;

    /* font-weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;

}


/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-outfit);
    background-color: var(--clr-main-bg);
    min-height: 100vh;
 
}

a,
a:active {
    text-decoration: none;
    color: var(--clr-white);
}

/* image */

img {
    max-width: 100%;
}

/* typography */

.text-white {
    color: var(--clr-white);
}
.text-primary {
    color: var(--clr-primary);
}
.text-secondary {
    color: var(--clr-secondary);
}

/* general */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin: 2rem auto;
    width: min(90%, 25rem);
    padding: 1rem 1.8rem 2.5rem;
    border-radius: 15px;
    background-color: rgba(13, 26, 49, 0.5);
}


/* components */
.card {
    position: relative;
    background-color: var(--clr-card-bg);
    padding: 1.2em;
    border-radius: 15px;
    box-shadow: 15px 25px hsl(217deg 54% 11%), -15px 25px hsl(217deg 54% 11%);
}

.card .card__image {
    border-radius: 15px;
    opacity: 1;
    display: block;
    height: auto;
    transition: all .5s ease;
    cursor: pointer;
    backface-visibility: hidden;
}

.card__header {
    cursor: pointer;
    position: relative;
    width: 100%;
}

.card__image--overlay {
    position: absolute;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: var(--clr-secondary);
  }

  .card__image--icon {
    color: white;
    opacity: 0;
    z-index: 100;
    font-size: 100px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  
 .card__header:hover .card__image--overlay {
    opacity: .5;
  } 
 .card__header:hover .card__image--icon {
    opacity: 1;
  } 

.card__title {
    font-weight: var(--fw-semi-bold);
    margin: 1.125rem 0;
    font-size: 1.4rem;
}



.card__title a:hover,  .creation__name:hover{
    color: var(--clr-secondary);
}

.card__description {
    font-weight: var(--fw-light);
    color: var(--clr-primary);
    margin: 1.125rem 0;
    font-size: 18px;
}

.card__icons {
    margin-right: 0.5rem;
}

.eth {
    border-bottom: 1px solid var(--clr-line);
    padding:  0 0 1.125em;
}

.creation {
    margin-top: 0.8rem;
    justify-content: unset;
    font-weight: var(--fw-light);
}
.creation img {
    margin-right: .7rem;
    border-radius: 50%;
    max-width: 2.5rem;
    border: 1px solid var(--clr-white);
}


.attribution {
    text-align: center;
}