/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* Variables */
:root {
    /* colors */
    --clr-primary : hsl(215, 51%, 70%);
    --clr-secondary: hsl(178, 100%, 50%);
    --clr-main-bg: hsl(217, 54%, 11%);
    --clr-card-bg: hsl(216, 50%, 16%);
    --clr-line: hsl(215, 32%, 27%);
    --clr-white: hsl(0, 0%, 100%);

    /* font */
    --font-outfit: 'Outfit', sans-serif;

    /* font-weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;

}


/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-outfit);
    background-color: var(--clr-main-bg);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a,
a:active {
    text-decoration: none;

}

/* image */

img {
    max-width: 100%;
}

/* typography */

.text-white {
    color: var(--clr-white);
}
.text-primary {
    color: var(--clr-primary);
}
.text-secondary {
    color: var(--clr-secondary);
}

/* general */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin:  auto;
    width: min(90%, 23.25rem);
    padding: 1.5rem;
    border-radius: 15px;
    background-color: hsl(217deg 59% 12%);
}


/* components */
.card {
    background-color: var(--clr-card-bg);
    padding: 1.2em;
    border-radius: 15px;
    box-shadow: 10px 18px hsl(217deg 54% 11%), -10px 18px hsl(217deg 54% 11%);
}

.card img {
    border-radius: 15px;
}

.card__title {
    font-weight: var(--fw-semi-bold);
    margin: .7rem 0;
    font-size: 1.4rem;
}

.card__description {
    font-weight: var(--fw-light);
    color: var(--clr-primary);
    margin: .7rem 0;
    font-size: 18px;
}

.card__icons {
    margin-right: 0.5rem;
}

.eth {
    border-bottom: 1px solid var(--clr-line);
    padding:  0 0 1.125em;
}

.creation {
    margin-top: 0.7rem;
    justify-content: unset;
    font-weight: var(--fw-light);
}
.creation img {
    margin-right: .7rem;
    border-radius: 50%;
    max-width: 2.5rem;
    border: 1px solid var(--clr-white);
}
